@media screen and(width: 450px){
       body {
              background-color: black;
              color: cornsilk;
       }
}
@media screen and(width: 720px){
       body {
              background-color: linen;
              font-family: Arial, Helvetica, sans-serif;
              color: black;
            }
        h1 { 
             font-weight: bolder;
             color: mediumaquamarine;
           
        }
}
body {
       font-family: sans-serif;
     }
 h1 {
      color: maroon;
      font-style: italic;
      font-family: serif;
    }
.table {
         font-family: Verdana, Geneva, Tahoma, sans-serif;
         
       }
.alert-success {
                 background-color: white;
                 color: blue;
                 border: none;  
                 font-style: italic;                 
                }
.lead {
        font-family: Georgia, 'Times New Roman', Times, serif;

}                