@media screen and(width: 450px){
       body {
              background-color: black;
              color: cornsilk;
       }
}
@media screen and(width: 720px){
       body {
              background-color: linen;
              font-family: Arial, Helvetica, sans-serif;
            }
        h1 { 
             font-weight: bolder;
             color: mediumaquamarine;
           }
}
body {
       background-image: url("/images/logo2.jpeg");
       height: 100%;
       background-position-y: top;
       margin-top: 50px;
       padding-top: 50px;
       font-family: sans-serif;
     }
 h1 {
      color: black;
      font-style: italic;
      font-family: serif;
    }
.scope {
         font-weight: bolder;
       }    
